target/
!.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/core/nbproject/
/backend-data/nbproject/
/svm-backend-data/nbproject/
/svm-backend-data-project/svm-backend-data-core/nbproject/
/svm-backend-data-project/svm-backend-data/nbproject/
/svm-backend-data-project/svm-backend-data-jpa/nbproject/
!/svm-backend-data-project/svm-backend-data/target/